{% extends "app1/base.html" %}

<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

  </head>
  <body>

    <div class="container">
      {% block body_block %}


    <div style="margin-left:25%; margin-right:25%; margin-top:3%; background-color: #ffffff; border: 2px solid black; opacity: 0.6; filter: alpha(opacity=60); border-radius:50px; "></br>

      <h1>hello everyone, this is home page of Django Demo Application</h1>
    </div>
     {% endblock %}

    </div>


  </body>
</html>
